<!DOCTYPE html>
<html lang="ru">

    <head>
        {{ partial "head/metadata.html" . }}
        {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
        {{ partial "head/openGraph.html" . }}
        {{ partial "head/favicons.html" . }}
        {{ partial "head/fonts.html" . }}
        {{ partial "head/css.html" . }}
        {{ partial "head/analytics.html" . }}
        {{ partial "head/localbusiness.html" . }}
    </head>

    <body class="page-home">
        {{ partial "body-analytics.html" . }}
        {{ partial "site-header.html" . }}
        <main id="main">
        {{ partial "home/catalog.html" . }}
        {{ partial "home/about.html" . }}
        {{ partial "home/offer.html" . }}
        {{ partial "home/why.html" . }}
        {{ partial "home/blog.html" . }}
        {{ partial "home/start.html" . }}
        {{ partial "home/contact.html" . }}
        </main>
        {{ partial "footer/text.html" . }}

        {{ partial "contact-buttons.html" (dict "variant" "sticky") }}
        {{ partial "lead-modal.html" . }}

        {{ partial "footer/scripts.html" . }}

    </body>

</html>
