{{- /* Главная: три последние статьи блога. */ -}}
{{- with site.GetPage "/blog" }}{{ with first 3 .Pages.ByPublishDate.Reverse }}
<section class="hs hs--alt" id="blog" aria-labelledby="blog-title">
    <div class="hs__inner">
        <div class="hs__head">
            <h2 class="hs__title" id="blog-title">Новое в блоге</h2>
            <a class="hs__more" href="/blog/">Все статьи {{ partial "icon.html" "arrow-right" }}</a>
        </div>
        <div class="hs-grid hs-grid--3">
            {{- range . }}
            <article class="hs-card hs-post">
                {{- if .Params.date }}<time class="hs-post__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (site.Params.dateFormat | default ":date_medium") }}</time>{{ end }}
                <h3 class="hs-card__title"><a class="hs-post__link" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <p class="hs-card__text">{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}</p>
            </article>
            {{- end }}
        </div>
    </div>
</section>
{{- end }}{{ end }}
